/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/.settings/
/composer.lock
/app/config/parameters.yml
/.buildpath
/._composer.json6798369160185968413.tmp
