{% extends "Rx7BookshelfBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block bookshelf_body %}

  <h2>Liste des bibliothèques</h2>

  <ul>
    {% for bookshelf in bookshelf_list %}
      <li>
        <a href="{{ path('rx7bookshelf_show', {'id': bookshelf.id}) }}">{{ bookshelf.name }}</a>
      </li>
    {% else %}
      <li>Pas (encore !) de bibliothèque !</li>
    {% endfor %}
  </ul>

{% endblock %}