{% extends "Rx7BookshelfBundle::layout.html.twig" %}

{% block title %}
  Modifier une bibliotheque - {{ parent() }}
{% endblock %}

{% block bookshelf_body %}

  <h2>Modifier une bibliotheque</h2>

  {% include "Rx7BookshelfBundle:Bookshelf:formEdit.html.twig" %}

	<a class="btn btn-default" href="{{ path('rx7bookshelf_addShelf', {'id': bookshelf.id}) }}" role="button">Ajouttre une étagère</a>

{% endblock %}