{% extends "Rx7BookshelfBundle::layout.html.twig" %}

{% block title %}
  Modifier une bibliotheque - {{ parent() }}
{% endblock %}

{% block bookshelf_body %}

  <h2>Modifier une bibliotheque</h2>

  {% include "Rx7BookshelfBundle:Bookshelf:formEdit.html.twig" %}



{% endblock %}