{% extends "Rx7BookBundle::layout.html.twig" %}

{% block title %}
  Ajoutter un livre - {{ parent() }}
{% endblock %}

{% block book_body %}

  <h2>Ajouter un livre</h2>

  {% include "Rx7BookBundle:Book:form.html.twig" %}



{% endblock %}