{% extends "Rx7BookBundle::layout.html.twig" %}

{% block title %}
  Voir - {{ parent() }}
{% endblock %}

{% block book_body %}
    <h1>Visualisation d'un livre</h1>

    <p>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>{{ message }}</p>
      {% endfor %}
    </p>

    <p>
      Ici nous pourrons voir le livre ayant comme id : {{ id }}<br />
      Mais pour l'instant, nous ne savons pas encore le faire, cela viendra !
    </p>
{% endblock %}