<h3>Mes derniers livres</h3>

<ul class="nav nav-pills nav-stacked">
  {% for book in book_list %}
    <li role="presentation""><a href="{{ path('rx7book_show', {'id': book.id}) }}">{{ book.title }}</a></li>
  {% endfor %}
</ul>
